# Auto Malfunction Detection Of Air Conditioner In Train Control Room


William Xu
## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
    <ul>
            <li><a href="#gather">Gathering Data</a></li>
            <li><a href="#assess">Assessing/Cleaning Data</a></li>
    </ul>
<li><a href="#algorithm">Algorithm</a></li>
<li><a href="#final_function">Final Function</a></li>
    <ul>
            <li><a href="#testing_tool">Testing Tool</a></li>
    </ul>  
</ul>

<a id='intro'></a>
## Introduction

> The goal of the project is to algorithmically detect and predict air conditioning malfunction through room temperatures and outdoor temperatures data over time.

In [2]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<a id='gather'></a>
## Gathering Data
> <b>In this part, we will gather two parts of data</b>
<ol>
    <li>Loading two datasets. 
        <ul>
            <li><b>outdoor-temperature-20220815-.csv:</b> stores the outdoor temperature in 15 minute increments. </li>
            <li><b>train-control-room-temperature-20220815.csv:</b> stores the train control room temperature in 15 minute increments. </li>
        </ul>
    <li>Import given BART's rail track diagram. 
        <ul>
            <li><b>BART-tracks-dashboard-map.png:</b> BART's rail track diagram.</li>
        </ul>
    <li>Access json txt file and save as a dataframe. This json file stores the real bart location. It should be downloaded at the following URL: <a href="https://api.bart.gov/docs/stn/stns.aspx">https://api.bart.gov/docs/stn/stns.aspx</a></li>
</ol>

In [13]:
#load the data
outdoor = pd.read_csv(r"/Users/william/Desktop/aurora/Nerd/bart/outdoor-temperature-20220815-.csv")

indoor = pd.read_csv(r"/Users/william/Desktop/aurora/Nerd/bart/train-control-room-temperature-20220815.csv")

outdoor.head()

,_time,Location,sourcetype,Temperature,_raw
0,2022-09-12T18:35:03.000-0700,W10,publicweatherdata,60.0,"Temperature=60, Location=W10, Time=2022-09-12T..."
1,2022-09-12T18:34:42.000-0700,E30,publicweatherdata,82.0,"Temperature=82, Location=E30, Time=2022-09-12T..."
2,2022-09-12T18:33:28.000-0700,A20,publicweatherdata,66.0,"Temperature=66, Location=A20, Time=2022-09-12T..."
3,2022-09-12T18:33:24.000-0700,C60,publicweatherdata,76.0,"Temperature=76, Location=C60, Time=2022-09-12T..."
4,2022-09-12T18:32:43.000-0700,C80,publicweatherdata,78.0,"Temperature=78, Location=C80, Time=2022-09-12T..."

In [14]:
indoor.head()

,Device_Type,Location,_raw,_time,host,index,linecount,source,sourcetype,splunk_server,tag::source
0,tempSensor,Y10-TEMPMON,"Time=Mon Sep 12 18:22:01 PDT 2022, Value=76.8,...",2022-09-12T18:22:01.000-0700,cse-mesplunk-y,cse_scada,1,/home/slog/sensor_logs/sensor_20220912.dat,sensor_data,splunk-idxv03,NaN
1,tempSensor,W40-TEMPMON,"Time=Mon Sep 12 18:22:01 PDT 2022, Value=76.3,...",2022-09-12T18:22:01.000-0700,cse-mesplunk-y,cse_scada,1,/home/slog/sensor_logs/sensor_20220912.dat,sensor_data,splunk-idxv03,NaN
2,tempSensor,W34-TEMPMON,"Time=Mon Sep 12 18:22:01 PDT 2022, Value=75.7,...",2022-09-12T18:22:01.000-0700,cse-mesplunk-y,cse_scada,1,/home/slog/sensor_logs/sensor_20220912.dat,sensor_data,splunk-idxv03,NaN
3,tempSensor,W20-TEMPMON,"Time=Mon Sep 12 18:22:01 PDT 2022, Value=72.9,...",2022-09-12T18:22:01.000-0700,cse-mesplunk-y,cse_scada,1,/home/slog/sensor_logs/sensor_20220912.dat,sensor_data,splunk-idxv03,NaN
4,tempSensor,W10-TEMPMON,"Time=Mon Sep 12 18:22:01 PDT 2022, Value=74.8,...",2022-09-12T18:22:01.000-0700,cse-mesplunk-y,cse_scada,1,/home/slog/sensor_logs/sensor_20220912.dat,sensor_data,splunk-idxv03,NaN